@keyframes navbarSlideRight {
  0% {
    // left: -100%;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes navbarSlideLeft {
  0% {
    // left: 0;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

