<div class="form-group mt-3">
    <label for="title">Título</label>
    <input required value="<%= article.title  %> " type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group mt-3">
    <label for="description">Descripción</label>
    <textarea required name="description" id="description" class="form-control"><%=article.description%></textarea>
</div>

<% if (!article.image) { %>

    <div class="form-group mt-3">
        <label for="image">Imagen Principal</label>
        <input required type="file" name="image" id="image" class="form-control" value="/images/<%= article.image %> ">
    </div>

<% } %>

<div class="form-group mt-3 mb-3">
    <label for="markdown">Blog</label>
    <textarea required name="markdown" id="markdown" class="form-control  markdown"><%=article.markdown%></textarea>
</div>


<a href="/admin/posts" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
<div class="w100"></div>




