<nav class="res-nav" id="navbar">
    <div>
        <input type="checkbox" id="check">
        <label for="check" data-aos="popUp" class="nav-check"><i class="fas fa-bars"></i></label>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="proyectos.html">Proyectos</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li class="active"><a href="/">Blog</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </div>
    <a href="https://www.sibradgo.com/#" class="logo"><img src="https://www.sibradgo.com/raw/img/logo.png" alt=""></a>

</nav>