.res-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 1rem 2rem;
    transition: 0.4s all ease-in-out;
    background-color: white;
    animation-duration: 0.5s;
    overflow: hidden;

    @include respond(mob-tab) {
        padding: 0;
    }

    & img {
        width: 18rem;
        padding-right: 2rem;
        transition: 0.4s all ease-in-out;
    }

    & ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.4s all ease-in-out;

        & li {
            padding: 0 2rem;
            transition: 0.4s all ease-in-out;

            & a {
                &:link,
                &:visited {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $color-black;
                    font-weight: 600;
                    transition: 0.4s all ease-in-out;
                    border-bottom: 4px solid rgba(255, 255, 255, 0.007);
                }

                &:hover {
                    color: $color-black;
                    border-bottom: 4px solid #46d148;
                    box-shadow: 0 3px rgba(0, 0, 0, 0.075);
                }
            }
        }
    }
}

.navbar {
    @include respond(mob-tab) {
        overflow: hidden;
        background-color: transparent;
        height: fit-content;
        z-index: 8000;
        display: flex;
        pointer-events: none;

        img.navbar__logo {
            display: none;
        }

        a.nav-logo {
            grid-column: center-start / center-end;
            grid-row: header-start / header-end;

            @include respond(mob-phone-l) {
                display: flex;
            }
        }
    }

    &.active {
        pointer-events: all;
        @include respond(mob-tab) {
            position: relative;
        }
        .navbar {
            &__nav {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                transform: translateX(0);
            }

            &__link {
                opacity: 1;
                transform: translateX(0);
            }

            &__img {
                display: block;
                height: 100%;
                width: auto;
                margin: 0 auto;
                padding: 0;
                @include respond(mob-phone-l) {
                    height: auto;
                    margin: auto;
                }
            }

            &__toggler {
                position: fixed;
                z-index: 9000;
                top: 2rem;
                right: 2rem;

                .icon {
                    &.open {
                        display: none;
                    }
                    &.close {
                        display: block;
                    }
                }
            }
        }
    }

    &__nav {
        @include respond(mob-tab) {
            display: grid;
            grid-template-columns: [left] 1fr [center-start] minmax(min-content, 65%) [center-end] 1fr [right];
            grid-template-rows: [top header-start] 14rem [header-end body-start] calc(100% - 14rem) [body-end bot];
            transition: transform 1s ease-in-out;
            transform: translateX(-100%);
            width: 100vw;
            height: 100vh;
            background-color: #fff;
            padding: 0;
        }
    }

    &__list {
        @include respond(mob-tab) {
            margin: auto;
            grid-column: center-start / center-end;
            grid-row: body-start / body-end;
            display: flex;
            flex-direction: column;
            font-size: 2.2rem;
        }
    }

    &__link {
        display: block;

        @include respond(mob-tab) {
            padding: 2rem 3rem;
            opacity: 0;
            transform: translateX(100%);
            transition: opacity 1.1s linear, transform 1.25s linear !important;
        }
    }

    &__toggler {
        display: none;
        background-color: #fff;
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        box-shadow: 0 0 10px 2px rgba($color: #333, $alpha: 0.6);
        pointer-events: all;

        @include respond(mob-tab) {
            display: flex;
            position: fixed;
            z-index: 9000;
            top: 2rem;
            right: 2rem;
        }

        @include respond(mob-phone-l) {
            height: 4rem;
            width: 4rem;
        }

        .icon {
            display: none;
            margin: auto;

            &.close {
                width: 2.5rem;
                height: 2.5rem;
                @include respond(mob-phone-l) {
                    width: 2.1rem;
                    height: 2.1rem;
                }
            }

            &.open {
                width: 3rem;
                height: 3rem;
                display: block;

                @include respond(mob-phone-l) {
                    width: 2.7rem;
                    height: 2.7rem;
                }
            }
        }
    }

    &__img {
        display: none;

        @include respond(mob-tab) {
            display: block;
        }

        @include respond(mob-phone-l) {
            max-width: 70%;
        }
    }
}

.nav-check,
#check {
    display: none;
}

.sticky {
    transition: 0.4s all ease-in-out;
    position: fixed;
    background-color: white;
    @include shadow-light;
    z-index: 999;
}
