.edit-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;

    & img {
        max-width: 100%;
        width: 50%;
        overflow: hidden;
    }


    & button {
        border: none;
        background: none;
        color: tomato;
        border: 1px solid tomato;
        margin-right: 2rem;
        outline: none;
        padding: 1rem 3rem;
        border-radius: 8px;
        transition: .4s all ease-in-out;

        &:hover {
            background-color: tomato;
            color: white !important;
        }
    }

}