.post-body {
    // background-color: red;
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgb(236, 236, 236) 100%);
}

.post-container {
    width: 750px;
    margin: 13rem auto 8rem auto;
    background-color: white;
    padding: 2rem;
    position: relative;
    overflow: hidden;

    @include respond(from-tab-land) {
        border-radius: .8rem;
        // @include shadow-light;
    }

    @include respond(tab-port) {
        // margin: 20rem auto;
    }

    @include respond(bb-665) {
        width: 100%;
    }

    @include respond(mob-tab) {
        margin: 0;
        padding: 2rem 4rem;
        position: relative;
        z-index: 7000;
    }

}

.post {

    @include respond(bb-665) {
        max-width: 100%;
    }

    &__goback {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.2rem;
        color: #333;
        border: 0;
        background-color: transparent;
        transition: transform .25s linear;
        transform: scale(1);
        height: fit-content;
        margin: auto 0;
        position: absolute;
        top: 2rem;
        left: 5rem;

        &:active,
        &:hover {
            transform: scale(1.2);
        }
    }

    &__title {
        font-size: 4.6rem;
        text-align: left;
        line-height: 5.5rem;
        margin-top: 7rem;

        @include respond(mob-phone-l) {
            font-size: 3.7rem;
        }
    }

    &__description {
        margin: 2.5rem 0;
        font-size: 2.2rem;
        line-height: 2.5rem;
        color: $color-gray;

        @include respond(mob-phone-l) {
            font-size: 1.8rem;
        }
    }

    &__date {
        font-size: 1.6rem;
        color: $color-gray;
        
        @include respond(mob-phone-l) {
            font-size: 1.4rem;
        }
    }

    &__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;
        // align-items: center;

        & img {
            width: 40px;
            border-radius: 100rem;
            // margin-right: 1rem;
        }

        & .name {
            margin-right: 1rem;
            // text-decoration: underline;
            color: $color-primary;
            line-height: 2.5rem;
            text-align: right;

            & span {
                font-size: 1.6rem;
                color: $color-gray;
                text-decoration: none !important;
                margin-right: .8rem;

                @include respond(mob-phone-l) {
                    font-size: 1.4rem;
                }
            }
        }

        @include respond(phone){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__author {
        display: flex;
        align-items: center;

        @include respond(phone){
            margin-top: 2rem;
            
            img {
                width: 4rem;
                height: 4rem;
            }

            & .name {
                margin-right: 1rem;
                // order: 2;
                // margin-left: -10px;
            }
        }

        @include respond(mob-phone-l) {

            .name {
                font-size: 1.4rem;
            }
        }
    }

    &__content {
        margin: 0 auto;
        font-size: 1.5rem;

        & h1,
        h2,
        h3,
        h4,
        h5 {
            margin-top: 3rem;
        }

        & p {
            line-height: 4rem;
        }

        & blockquote {
            border-left: 1rem solid $color-gray;
            color: #3e3e3e;

            padding-left: 3rem;
            font-size: 1.5rem;
            font-style: italic;
            margin: 3rem 0;
        }

        & ol,
        ul {
            padding-left: 4rem;
        }

        & hr {
            margin: 3rem 0;
        }

        & img {
            width: 100%;
        }

        & a {
            color: #46d148;
        }
    }
}

.more {
    width: 1200px;
    margin: 0 auto 5rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    max-width: 80%;


    @include respond(tab-port) {
        width: 90%;
    }

    & .card {

        &:hover {
            transform: scale(1.02);
        }
    }

}

.moreTitle {
    text-align: center;
    margin-bottom: 5rem;
}

.all {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;

    & .btn {
        text-decoration: none;
        color: white;
        padding: 2rem 4rem;
        background-color: $color-primary;
        border-radius: .8rem;
        @include shadow-light;
        font-weight: 600;
        text-transform: uppercase;
    }
}