<nav class="res-nav navbar" id="navbar">
  <div class="navbar__nav">
    <!-- <input type="checkbox" id="check"> -->
    <!-- <label for="check" data-aos="popUp" class="nav-check"><i class="fas fa-bars"></i></label> -->
    <ul class="navbar__list">
      <li class="navbar__item"><a href="/" class="navbar__link">Inicio</a></li>
      <li class="navbar__item"><a href="/admin/sign-up" class="navbar__link">Crear Nuevo Usuario</a></li>
      <li class="navbar__item"><a href="/admin/log-out" class="navbar__link">Cerrar Sesión</a></li>
    </ul>
  </div>
  <a href="https://www.sibradgo.com/#" class="logo"><img class="navbar__logo"
      src="https://www.sibradgo.com/raw/img/logo.png" alt=""></a>
  <div class="navbar__toggler">
    <svg class="icon open">
      <use href="/images/sprite.svg#bars"></use>
    </svg>
    <svg class="icon close">
      <use href="/images/sprite.svg#cross"></use>
    </svg>
  </div>
</nav>